ujamaa
ujamaa.sublime-project
ujamaa.sublime-workspace
*.o
*.out
words/OWL2.txt
*.gaddag
src/gaddag/makegaddag
src/anagrammer/anagrammer
src/anagrammer/blank_challenges
src/anagrammer/judge
*.DS_Store